---
ports:
  web:
    nodePort: 32080
  websecure:
    nodePort: 32443

persistence:
  enabled: false

deployment:
  enabled: true

service:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "ingress.${domain}." # TODO: fetch this from a secret

# ingress:
#
#   healthcheck:
#     enabled: true
#     entryPoints:
#     - web
#
#   dashboard:
#     enabled: true
#     annotations:
#       external-dns.alpha.kubernetes.io/target: ingress.${domain} # TODO: fetch this from a secret
#       traefik.ingress.kubernetes.io/router.middlewares: "redirect-to-https@kubernetescrd,ak-outpost-forwardauth@kubernetescrd"
#
#     matchRule: "Host(`traefik.${domain}`)"

# On first Flux Bootstrap, CRDs don't exist, but traefik's
# Helm chart is thoughtfully designed to allow us to create
# Custom Resources when installing this HelmRelease
extraObjects:

#################
## Middlewares ##
#################

- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: redirect-to-https
    namespace: system
  spec:
    redirectScheme:
      scheme: https
      permanent: true
